@page
@model LocalList.Pages.Projects.IndexModel

@{
    ViewData["Title"] = "Index";
    //int startNum = 1;
}

<p>
    <a asp-page="Create">新建</a>
</p>
<ul class="list-unstyled">
    @foreach (var item in Model.Project)
    {

        <li class="clearfix mb-2">
            <h5>
                @*<span style="display:inline-block;padding:0 0.5rem" class="text-white rounded-circle bg-secondary">@startNum</span>*@
                @Html.DisplayFor(modelItem => item.Name)
                <small>(@item.Title)</small>
            </h5>
            <code>
                @Html.DisplayFor(modelItem => item.Address)
            </code>
            <div>
                <small>
                    @Html.DisplayFor(modelItem => item.Description)
                </small>
                <div class="float-right">
                    <small>
                        @Html.DisplayFor(modelItem => item.AddTime)
                    </small>
                    <small>
                        <a asp-page="./Edit" asp-route-id="@item.Id">修改</a>
                        <a asp-page="./Delete" asp-route-id="@item.Id">删除</a>
                    </small>
                </div>
            </div>
        </li>
    }
</ul>